:root {
	--font: 'Poppins', sans-serif;
	--regular: 400;
	--bold: 600;

	--size-xxl: 64px;
	--size-xl: 48px;
	--size-l: 32px;
	--size-m: 20px;
	--size-s: 16px;
	--size-xs: 14px;

	--primary-color: #ebeef5;
	--secondary-color: #8e95a9;
	--link-color: #a8aebf;
	--link-color-hover: #c2c8d7;
	--accent-color: #7b6ef6;
	--accent-color-hover: #6458d3;
	--favorites-color: #37d8a7;
	--rating-color: #ffad49;

	--layout-max-width: 1200px;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
	margin: 0;
}

body {
	font-family: var(--font);
	font-weight: var(--regular);
	font-style: normal;

	background: #121829 url('/Background.svg') center center/cover no-repeat;
}

a {
	color: var(--link-color);
	text-decoration: none;
}

a:hover {
	color: var(--link-color-hover);
}

#root {
	display: flex;
	flex-direction: column;
	margin: 0 auto;
	min-width: 320px;
	min-height: 100vh;
	max-width: var(--layout-max-width);
}
